* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  font-family: "Montserrat", sans-serif; }

::selection {
  background-color: #909090;
  color: white; }

.header {
  text-align: center; }
  .header__image {
    width: auto;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: top; }
    @media only screen and (max-width: 47.5em) {
      .header__image {
        padding: 0;
        background-position: center;
        background-position: top;
        max-width: 100%;
        background-size: cover;
        display: flex; } }

.text-block {
  position: absolute;
  color: #d1e6e9;
  background-color: rgba(209, 230, 233, 0.2);
  top: 10%;
  left: 50%;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 1.5px;
  padding: 10px;
  letter-spacing: 7px;
  font-weight: bold;
  cursor: pointer; }
  @media only screen and (max-width: 47.5em) {
    .text-block {
      background-color: rgba(144, 144, 144, 0.5);
      padding: 55%;
      width: 100%;
      border-style: none; } }
  .text-block__title {
    font-family: 'Satisfy', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: 3.8em; }
  @media only screen and (max-width: 47.5em) {
    .text-block {
      display: block;
      font-size: 1em;
      text-align: center;
      color: black;
      font-weight: bold; }
      .text-block__subtitle {
        display: block;
        font-size: 2em; } }
  @media only screen and (max-width: 47.5em) and (max-width: 47.5em) {
    .text-block {
      display: block;
      font-size: .5em;
      text-align: center;
      color: black;
      font-weight: bold; } }

.paragraf__heading {
  font-size: 1.5em;
  font-weight: bold; }

.paragraf__date {
  font-style: italic; }

.paragraf__content {
  text-align: justify; }

.form {
  position: absolute; }

#more {
  display: none; }

.btn {
  font-family: inherit;
  cursor: pointer;
  padding: 1%;
  margin: 1%;
  border-radius: 10%;
  font-weight: bold; }

.fab {
  font-size: 3.8em;
  color: #6d6d6d;
  padding: 1em;
  cursor: pointer; }

.container__contact-form {
  width: 80%;
  padding: 6% 8%;
  margin: 5% 1%;
  background-color: #d1e6e9; }
  @media only screen and (max-width: 47.5em) {
    .container__contact-form {
      display: inline;
      padding: auto;
      margin: auto; } }

#message {
  font-size: 1em;
  background-color: #f5f5f5;
  width: 80%;
  padding: 4%;
  font-family: "Montserrat", sans-serif; }

#first-name,
#last-name,
#email {
  border: none;
  width: 50%;
  background-color: #f5f5f5; }

.container {
  display: flex;
  max-width: 70%;
  max-height: 30%;
  margin: 2px auto;
  padding: 2px;
  line-height: 2;
  align-content: space-evenly;
  flex-direction: row;
  flex-flow: row wrap; }
  @media only screen and (max-width: 47.5em) {
    .container {
      flex-direction: column;
      line-height: 1.5;
      margin: 5%;
      max-width: 800px;
      display: block; } }
  .container__column--left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex: 20%;
    background-color: rgba(109, 109, 109, 0.2); }
  .container__column--left__media-img {
    filter: grayscale(100%);
    cursor: pointer;
    margin: 0.4em;
    padding: 0.4em;
    max-width: 100%;
    background-size: contain;
    position: relative;
    align-items: center;
    border-bottom: 2px solid #d1e6e9; }
    @media only screen and (max-width: 47.5em) {
      .container__column--left__media-img {
        align-items: center;
        background-size: contain; } }
  .container__column--middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    flex: 20%;
    background-color: rgba(109, 109, 109, 0.2); }
  .container__column--right {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    flex: 20%;
    background-color: rgba(109, 109, 109, 0.2); }
  .container__row--bottom-middle {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    flex: 100%;
    flex-flow: row wrap;
    background-color: rgba(109, 109, 109, 0.2); }
  .container__row--bottom-rep {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    flex: 100%;
    background-color: rgba(109, 109, 109, 0.2); }
  .container__row--bottom-media {
    -webkit-flex: 6;
    -ms-flex: 6;
    flex-basis: 50%;
    flex: 6;
    background-color: rgba(109, 109, 109, 0.2); }
  .container__row--bottom {
    -webkit-flex: 7;
    -ms-flex: 7;
    flex: 7;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(109, 109, 109, 0.2); }
    @media only screen and (max-width: 47.5em) {
      .container__row--bottom {
        padding: auto;
        margin: auto;
        flex-direction: column; } }

.container > div {
  margin: .6%;
  padding: 2.5%; }

.cont {
  display: flexbox;
  position: inline-block;
  top: 87%;
  left: 37%;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  text-align: center;
  overflow: hidden; }
  .cont__item {
    display: inline-flex;
    padding: 12px 18px;
    text-decoration: none;
    background-color: #6d6d6d;
    font-size: 1.2em;
    color: #d1e6e9;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 47.5em) {
      .cont__item {
        display: block;
        align-items: center;
        background-color: #909090;
        font-size: 1em;
        padding: auto;
        width: 100%;
        overflow: auto;
        float: none; } }
    .cont__item:hover {
      border: none;
      background: rgba(0, 0, 0, 0.2);
      background: #909090; }

/*# sourceMappingURL=style.css.map */
