//read-more button


.btn {
    font-family: inherit;
    cursor: pointer;
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    font-weight: bold;
}
#more {
    display: none;
}
