
* {
    margin: 0; 
    padding: 0;
}

body, html {
    font-family: $font-main;
    overflow-x: hidden;
    position: relative;
}

//Text higlight
::selection {
    background-color: $color2;
}






