
//Social media icons

.fa {
    font-size: 1.2em!important;
    color: $color-main-dark;
    padding: 1em;
    text-decoration: none;
    align-content: center;
    cursor: pointer;

  }

